.container {
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 4rem 2rem;
  border-radius: 0.4rem;
  background-color: white;
  width: 100%;
  z-index: 1;

  @media screen and (min-width: 768px) {
    & {
      text-align: left;
      padding: 3rem 1.4rem;
    }
  }

  & > .icon {
    position: absolute;
    top: -2.6rem;
    left: 50%;
    margin-left: -50px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-violet);

    @media screen and (min-width: 768px) {
      & {
        left: 25%;
      }
    }
  }

  h1 {
    font-size: 1rem;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.9rem;
    color: var(--grayish-violet);
  }
}
